@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cabin:ital,wght@0,400..700;1,400..700&family=Changa+One:ital@0;1&family=Delicious+Handrawn&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jacquard+12&family=Outfit:wght@100..900&family=Poetsen+One&family=Secular+One&display=swap');

:root {
  --meterColor: #5DBD64;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(46, 46, 46), rgb(0, 0, 0));
    height: 100vh;
}
.atropos-inner {
  border-radius: 20px;
}

#nombre{
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  background-color: rgba(255, 247, 240, 0.61);
  z-index: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  z-index: 1;
}

.tarjeta {
    width: 400px;
    height: 510px;
    background: linear-gradient(rgb(255, 255, 255), rgb(73, 73, 73));
    border-radius: 20px;
    box-shadow: 1px 1px 10px inset;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .tarjeta::before {
    content: "";
    position: absolute;
    height: 200vh;
    width: 200vw;
    animation: girar 5s linear infinite;
}  */

 /* @keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}  */

.tarjeta::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 95%;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 10px inset;
    background: linear-gradient(rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.171));
}

.contenedor_informacion {
  z-index: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  margin: 0;
  width: 300px;
}

.info p {
  margin: 1px;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.199);
  border-bottom: 1px solid rgb(104, 103, 103);
  border-radius: 10px;
  color: rgb(20, 20, 20);
}

.info meter {
  width: 170px;
  margin-bottom: 1px;
}

::-webkit-meter-optimum-value {
  background-color: var(--meterColor);
  border-bottom: 1px solid white;
}

::-webkit-meter-bar {
  background-color: white;
  border: none;
}

.info span {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: #5DBD64;
  border-radius: 10px;
  color: rgb(255, 254, 254);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.829);
}

#contenedor_buscar {
  width: 400px;
  margin-top: -40px;
}

.cont_foto {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont_foto img {
  background-color: rgba(211, 211, 211, 0.103);
  border-radius: 10px;
  box-shadow: 1px 1px 10px inset;
  padding: 10px;
  width: 130px;
  height: 130px;
  margin-top: 30px;
}

.tipos {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.tipos img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

#id {
  position: absolute;
  top: 20px;
  right: center;
  z-index: 1;
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80px;
  height: 50px; */
  background-color: rgba(192, 192, 192, 0.425);
  border-radius: 10px;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: rgba(22, 22, 22, 0.89);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  /* -webkit-text-stroke: 1px rgb(255, 164, 27); */
}

.jessie {
  position: absolute;
  top: 0%;
  right: 10%;
  z-index: 0;
  width: 200px;
  height: 529px;
  user-select: none;
}

.james {
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: 0;
  width: 121px;
  height: 529px;
  user-select: none;
}

.mew {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 0;
  width: 412px;
  height: 465px;
  user-select: none;
}


/* .mewtwo {
  position: absolute;
  bottom: 30%;
  left: 0%;
  z-index: 0;
  width: 374px;
  height: 400px;
  user-select: none;
}

.ash {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 0;
  width: 200px;
  height: 300px;
  user-select: none;
} */

@media (max-width: 576px) { 
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(46, 46, 46), rgb(0, 0, 0));
    height: 100vh;
}

  .tarjeta {
    width: 340px;
    height: 500px;
    background: linear-gradient(rgb(255, 255, 255), rgb(73, 73, 73));
    border-radius: 20px;
    box-shadow: 1px 1px 10px inset;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#contenedor_buscar {
  width: 340px;
  margin-top: 0px;
}

.jessie {
  position: absolute;
  top: -2%;
  right: 2%;
  z-index: 0;
  width: 200px;
  height: 529px;
  user-select: none;
}

.james {
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 0;
  width: 121px;
  height: 529px;
  user-select: none;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  margin: 0;
  width: 250px;
}

.info meter {
  width: 120px;
  margin-bottom: 1px;
}

#nombre{
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  background-color: rgba(255, 247, 240, 0.61);
  z-index: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  z-index: 1;
}

}


